{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'hospital_app/style.css' %}" />
    <title>Dental Care - Christ Group of Hospitals</title>
  </head>
  <body>
    <nav class="nav__bar">
      <div class="logo">
        <span class="material-symbols-outlined"> heart_plus </span>
        <h2>Christ Group Of Hospitals</h2>
      </div>
      <ul class="navbar">
        <li><a href="{% url 'home' %}#Home">Home</a></li>
        <li><a href="{% url 'home' %}#Service">Service</a></li>
        <li><a href="{% url 'home' %}#About">About</a></li>
        <li><a href="{% url 'home' %}#Doctor">Doctor</a></li>
        <li><a href="{% url 'home' %}#Book">Book</a></li>
        <li><a href="{% url 'home' %}#Contact">Contact</a></li>
      </ul>
      <div id="menu__btn" class="fas fa-bars"></div>
    </nav>
    <hr />
    <section id="DentalCare">
      <div class="home">
        <div class="home__first">
          <h2>Dental Care</h2>
          <p>
            Our specialized dental care services include routine checkups, oral surgeries, and cosmetic dentistry to maintain your oral health. We are committed to providing the best dental care for you and your family.
          </p>
          <button type="button">Contact Now</button>
        </div>
        <div class="home__second">
          <img src="{% static 'hospital_app/image/dental-care.png' %}" alt="Dental Care" />
        </div>
      </div>
    </section>
    <section id="Book">
      <div class="book__title">
        <h2><span>Book</span> Now</h2>
      </div>
      <div class="book">
        <div class="book__first">
          <img src="{% static 'hospital_app/image/book-now.png' %}" alt="Book Now Image" />
        </div>
        <div class="book__second">
          <h2>Book a Dental Appointment!</h2>
          <form>
            <input type="text" placeholder="Name" required />
            <input type="text" placeholder="Contact Number" required />
            <input type="email" placeholder="Email" required />
            <input type="date" required />
            <input type="time" required />
            <button type="submit">Book Now</button>
          </form>
        </div>
      </div>
    </section>
    <footer>
      <section id="Contact">
        <div class="bottom">
          <div class="bottom__one">
            <h2>Quick Links</h2>
            <ul>
              <li>
                <a href="{% url 'home' %}#Home"
                  ><i class="fas fa-chevron-right"></i><span> Home</span></a
                >
              </li>
              <li>
                <a href="{% url 'home' %}#Service"
                  ><i class="fas fa-chevron-right"></i><span> Service</span></a
                >
              </li>
              <li>
                <a href="{% url 'home' %}#About"
                  ><i class="fas fa-chevron-right"></i><span> About</span></a
                >
              </li>
              <li>
                <a href="{% url 'home' %}#Doctor"
                  ><i class="fas fa-chevron-right"></i><span> Doctor</span></a
                >
              </li>
              <li>
                <a href="{% url 'home' %}#Book"
                  ><i class="fas fa-chevron-right"></i><span> Book</span></a
                >
              </li>
              <li>
                <a href="{% url 'home' %}#Contact"
                  ><i class="fas fa-chevron-right"></i><span> Contact</span></a
                >
              </li>
            </ul>
          </div>
          <div class="bottom__two">
            <h2>Our Service</h2>
            <ul>
              <li>
                <a href="{% url 'dental_care' %}"
                  ><i class="fas fa-chevron-right"></i
                  ><span> Dental Care</span></a
                >
              </li>
              <li>
                <a href="{% url 'massage_therapy' %}"
                  ><i class="fas fa-chevron-right"></i
                  ><span> Massage Therapy</span></a
                >
              </li>
              <li>
                <a href="{% url 'cardiology' %}"
                  ><i class="fas fa-chevron-right"></i
                  ><span> Cardiology</span></a
                >
              </li>
              <li>
                <a href="{% url 'diagnosis' %}"
                  ><i class="fas fa-chevron-right"></i
                  ><span> Diagnosis</span></a
                >
              </li>
              <li>
                <a href="{% url 'ambulance_service' %}"
                  ><i class="fas fa-chevron-right"></i
                  ><span> Ambulance Service</span></a
                >
              </li>
            </ul>
          </div>
          <div class="bottom__three">
            <h2>Contact Information</h2>
            <ul>
              <li>
                <a href="#">
                  <i class="fa-solid fa-phone"></i
                  ><span> +123-456-7890</span></a
                >
              </li>
              <li>
                <a href="#">
                  <i class="fa-solid fa-phone"></i
                  ><span> +987-654-3210</span></a
                >
              </li>
              <li>
                <a href="#">
                  <i class="fa-solid fa-envelope"></i
                  ><span> example@gmail.com</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-location-crosshairs"></i
                  ><span> Koramangala, Bengaluru</span></a
                >
              </li>
            </ul>
          </div>
          <div class="bottom__four">
            <h2>Follow Us</h2>
            <ul>
              <li>
                <a href="#">
                  <i class="fa-brands fa-facebook"></i><span> Facebook</span></a
                >
              </li>
              <li>
                <a href="#">
                  <i class="fa-brands fa-linkedin-in"></i
                  ><span> Linkdin</span></a
                >
              </li>
              <li>
                <a href="#">
                  <i class="fa-brands fa-x-twitter"></i><span> Twitter</span></a
                >
              </li>
              <li>
                <a href="#">
                  <i class="fa-brands fa-instagram"></i
                  ><span> Instagram</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa-brands fa-telegram"></i
                  ><span> Telegram</span></a
                >
              </li>
            </ul>
          </div>
        </div>
        <p>developed by vishal junak das.</p>
      </section>
    </footer>
    <script src="{% static 'hospital_app/script.js' %}"></script>
  </body>
</html>